@charset "UTF-8";
@font-face {
  font-family: 'IconicFill';
  font-style: normal;
  font-weight: normal;
  src: url("./iconicfill.eot");
  src: url("./iconicfill.eot?#iefix") format("eot"), url("./iconicfill.woff") format("woff"), url("./iconicfill.ttf") format("truetype"), url("./iconicfill.svg#IconicFill") format("svg"); }
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
  font-style: normal; }

.iconicfill-lightbulb:before {
  content: ""; }

.iconicfill-equalizer:before {
  content: ""; }

.iconicfill-brush-alt:before {
  content: ""; }

.iconicfill-move:before {
  content: ""; }

.iconicfill-tag-fill:before {
  content: ""; }

.iconicfill-book-alt2:before {
  content: ""; }

.iconicfill-layers:before {
  content: ""; }

.iconicfill-chat-alt-fill:before {
  content: ""; }

.iconicfill-layers-alt:before {
  content: ""; }

.iconicfill-cloud-upload:before {
  content: ""; }

.iconicfill-chart-alt:before {
  content: ""; }

.iconicfill-fullscreen-exit-alt:before {
  content: ""; }

.iconicfill-cloud-download:before {
  content: ""; }

.iconicfill-paperclip:before {
  content: ""; }

.iconicfill-heart-fill:before {
  content: "❤"; }

.iconicfill-mail:before {
  content: "✉"; }

.iconicfill-pen-alt-fill:before {
  content: ""; }

.iconicfill-check-alt:before {
  content: "✔"; }

.iconicfill-battery-charging:before {
  content: ""; }

.iconicfill-lock-fill:before {
  content: ""; }

.iconicfill-stop:before {
  content: ""; }

.iconicfill-arrow-up:before {
  content: "↑"; }

.iconicfill-move-horizontal:before {
  content: ""; }

.iconicfill-compass:before {
  content: ""; }

.iconicfill-minus-alt:before {
  content: ""; }

.iconicfill-battery-empty:before {
  content: ""; }

.iconicfill-comment-fill:before {
  content: ""; }

.iconicfill-map-pin-alt:before {
  content: ""; }

.iconicfill-question-mark:before {
  content: "?"; }

.iconicfill-list:before {
  content: ""; }

.iconicfill-upload:before {
  content: ""; }

.iconicfill-reload:before {
  content: ""; }

.iconicfill-loop-alt4:before {
  content: ""; }

.iconicfill-loop-alt3:before {
  content: ""; }

.iconicfill-loop-alt2:before {
  content: ""; }

.iconicfill-loop-alt1:before {
  content: ""; }

.iconicfill-left-quote:before {
  content: "❝"; }

.iconicfill-x:before {
  content: "✗"; }

.iconicfill-last:before {
  content: ""; }

.iconicfill-bars:before {
  content: ""; }

.iconicfill-arrow-left:before {
  content: "←"; }

.iconicfill-arrow-down:before {
  content: "↓"; }

.iconicfill-download:before {
  content: ""; }

.iconicfill-home:before {
  content: "⌂"; }

.iconicfill-calendar:before {
  content: ""; }

.iconicfill-right-quote-alt:before {
  content: ""; }

.iconicfill-unlock-fill:before {
  content: ""; }

.iconicfill-fullscreen:before {
  content: ""; }

.iconicfill-dial:before {
  content: ""; }

.iconicfill-plus-alt:before {
  content: ""; }

.iconicfill-clock:before {
  content: ""; }

.iconicfill-movie:before {
  content: ""; }

.iconicfill-steering-wheel:before {
  content: ""; }

.iconicfill-pen:before {
  content: "✎"; }

.iconicfill-pin:before {
  content: ""; }

.iconicfill-denied:before {
  content: "⛔"; }

.iconicfill-left-quote-alt:before {
  content: ""; }

.iconicfill-volume-mute:before {
  content: ""; }

.iconicfill-umbrella:before {
  content: "☂"; }

.iconicfill-list-nested:before {
  content: ""; }

.iconicfill-arrow-up-alt1:before {
  content: ""; }

.iconicfill-undo:before {
  content: ""; }

.iconicfill-pause:before {
  content: ""; }

.iconicfill-bolt:before {
  content: "⚡"; }

.iconicfill-article:before {
  content: ""; }

.iconicfill-read-more:before {
  content: ""; }

.iconicfill-beaker:before {
  content: ""; }

.iconicfill-beaker-alt:before {
  content: ""; }

.iconicfill-battery-full:before {
  content: ""; }

.iconicfill-arrow-right:before {
  content: "→"; }

.iconicfill-iphone:before {
  content: ""; }

.iconicfill-arrow-up-alt2:before {
  content: ""; }

.iconicfill-cog:before {
  content: "⚙"; }

.iconicfill-award-fill:before {
  content: ""; }

.iconicfill-first:before {
  content: ""; }

.iconicfill-trash-fill:before {
  content: ""; }

.iconicfill-image:before {
  content: ""; }

.iconicfill-comment-alt1-fill:before {
  content: ""; }

.iconicfill-cd:before {
  content: ""; }

.iconicfill-right-quote:before {
  content: "❞"; }

.iconicfill-brush:before {
  content: ""; }

.iconicfill-cloud:before {
  content: "☁"; }

.iconicfill-eye:before {
  content: ""; }

.iconicfill-play-alt:before {
  content: ""; }

.iconicfill-transfer:before {
  content: ""; }

.iconicfill-pen-alt2:before {
  content: ""; }

.iconicfill-camera:before {
  content: ""; }

.iconicfill-move-horizontal-alt2:before {
  content: ""; }

.iconicfill-curved-arrow:before {
  content: "⤵"; }

.iconicfill-move-horizontal-alt1:before {
  content: ""; }

.iconicfill-aperture:before {
  content: ""; }

.iconicfill-reload-alt:before {
  content: ""; }

.iconicfill-magnifying-glass:before {
  content: ""; }

.iconicfill-calendar-alt-fill:before {
  content: ""; }

.iconicfill-fork:before {
  content: ""; }

.iconicfill-box:before {
  content: ""; }

.iconicfill-map-pin-fill:before {
  content: ""; }

.iconicfill-bars-alt:before {
  content: ""; }

.iconicfill-volume:before {
  content: ""; }

.iconicfill-x-alt:before {
  content: "✘"; }

.iconicfill-link:before {
  content: ""; }

.iconicfill-move-vertical:before {
  content: ""; }

.iconicfill-eyedropper:before {
  content: ""; }

.iconicfill-spin:before {
  content: ""; }

.iconicfill-rss:before {
  content: ""; }

.iconicfill-info:before {
  content: "ℹ"; }

.iconicfill-target:before {
  content: ""; }

.iconicfill-cursor:before {
  content: ""; }

.iconicfill-key-fill:before {
  content: "⚿"; }

.iconicfill-minus:before {
  content: "➖"; }

.iconicfill-book-alt:before {
  content: ""; }

.iconicfill-headphones:before {
  content: ""; }

.iconicfill-hash:before {
  content: "#"; }

.iconicfill-arrow-left-alt1:before {
  content: ""; }

.iconicfill-arrow-left-alt2:before {
  content: ""; }

.iconicfill-fullscreen-exit:before {
  content: ""; }

.iconicfill-share:before {
  content: ""; }

.iconicfill-fullscreen-alt:before {
  content: ""; }

.iconicfill-comment-alt2-fill:before {
  content: ""; }

.iconicfill-moon-fill:before {
  content: "☾"; }

.iconicfill-at:before {
  content: "@"; }

.iconicfill-chat:before {
  content: ""; }

.iconicfill-move-vertical-alt2:before {
  content: ""; }

.iconicfill-move-vertical-alt1:before {
  content: ""; }

.iconicfill-check:before {
  content: "✓"; }

.iconicfill-mic:before {
  content: ""; }

.iconicfill-book:before {
  content: ""; }

.iconicfill-move-alt1:before {
  content: ""; }

.iconicfill-move-alt2:before {
  content: ""; }

.iconicfill-document-fill:before {
  content: ""; }

.iconicfill-plus:before {
  content: "➕"; }

.iconicfill-wrench:before {
  content: ""; }

.iconicfill-play:before {
  content: ""; }

.iconicfill-star:before {
  content: "★"; }

.iconicfill-document-alt-fill:before {
  content: ""; }

.iconicfill-chart:before {
  content: ""; }

.iconicfill-rain:before {
  content: "⛆"; }

.iconicfill-folder-fill:before {
  content: ""; }

.iconicfill-new-window:before {
  content: ""; }

.iconicfill-user:before {
  content: ""; }

.iconicfill-battery-half:before {
  content: ""; }

.iconicfill-aperture-alt:before {
  content: ""; }

.iconicfill-eject:before {
  content: ""; }

.iconicfill-arrow-down-alt1:before {
  content: ""; }

.iconicfill-pilcrow:before {
  content: "¶"; }

.iconicfill-arrow-down-alt2:before {
  content: ""; }

.iconicfill-arrow-right-alt1:before {
  content: ""; }

.iconicfill-arrow-right-alt2:before {
  content: ""; }

.iconicfill-rss-alt:before {
  content: ""; }

.iconicfill-spin-alt:before {
  content: ""; }

.iconicfill-sun-fill:before {
  content: "☀"; }

/*# sourceMappingURL=iconicfill.css.map */
