{% extends 'base.html.twig' %}

{% block title %}New Contract{% endblock %}

{% block body %}
    <h1>Create new Contract</h1>

    {{ include('contract/_form.html.twig') }}

    <a href="{{ path('contract_index') }}">back to list</a>
{% endblock %}
